.button {
  font: inherit;
  border: 1px solid #3583f0;
  background: #3583f0;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #3583f0;
  border-color: #3583f0;
}

.button:focus {
  outline: none;
}
